{% extends "templates/base.html" %}
{% block title %}Create ticket{% endblock %}
{% block header %}Create ticket{% endblock %}
{% block body %}
<form method="POST">
    <p>
        Name: <input type="text" name="name" id="name" value="{{ form.Name }}">
        {% if errors.name %}
        <br>
        <span class="error">{{ errors.name }}</span>
        {% endif %}
    </p>
    <p>
        Email: <input type="email" name="email" id="email" value="{{ form.Email }}">
        {% if errors.email %}
        <br>
        <span class="error">{{ errors.email }}</span>
        {% endif %}
    </p>
    <p>
        Title: <input type="text" name="title" id="title" value="{{ form.Title }}">
        {% if errors.title %}
        <br>
        <span class="error">{{ errors.title }}</span>
        {% endif %}
    </p>
    <p>
        Priority:
        <select name="priority" id="priority">
            <option value="10" {% if form.Priority == 10 %}selected{% endif %}>10</option>
            <option value="20" {% if form.Priority == 20 %}selected{% endif %}>20</option>
            <option value="30" {% if form.Priority == 30 %}selected{% endif %}>30</option>
            <option value="40" {% if form.Priority == 40 %}selected{% endif %}>40</option>
            <option value="50" {% if form.Priority == 50 %}selected{% endif %}>50</option>
        </select>
        {% if errors.priority %}
        <br>
        <span class="error">{{ errors.priority }}</span>
        {% endif %}
    </p>
    <p>
        Content: <br>
        <textarea name="content" id="content" cols="30" rows="10">{{ form.Content }}</textarea>
        {% if errors.content %}
        <br>
        <span class="error">{{ errors.content }}</span>
        {% endif %}
    </p>
    {% if ask_for_password %}
    <p>
        Password: <input type="password" name="password" id="password">
        {% if errors.password %}
        <br>
        <span class="error">{{ errors.password }}</span>
        {% endif %}
    </p>
    {% endif %}
    <input type="submit" value="Create ticket">
</form>
{% endblock %}